<!DOCTYPE html>
<html lang="en">
<head>
    <title>hello</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <style>
        body{
            padding: 20px;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #383737;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h1 class = "text-center " >Book Management System</h1>
    <h5 class = "text-left mb-2" >Input details of book you want to add below</h5>

    <form hx-post="/submit/" hx-swap="beforeend" hx-target="#new-book" class="mb-3">
        <input type="text" placeholder="Book ID" name="id" class="form-control mb-3" />
        <input type="text" placeholder="Book Title" name="title" class="form-control mb-3" />
        <input type="text" placeholder="Book Author" name="author" class="form-control mb-3" />
        <input type="text" placeholder="Year published" name="year_published" class="form-control mb-3" />
        <button type="post" class="btn btn-primary" action="/submit/">Submit</button>
    </form>
     
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Book Title</th>
            <th scope="col">Book Author</th>
            <th scope="col">Year Published</th>
          </tr>
        </thead>
        <tbody id="new-book"> 
            
            {%for book in book_db %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.year_published}}</td>
                <td>

                    <button hx-get="edit_details/{{book.id}}" hx-trigger="click"
                    hx-target="body"
                    hx-swap="/index/" class="btn btn-primary">
                        Edit Details
                    </button>
                </td>
                <td>
                    <button hx-delete = "/delete/{{book.id}}"
                    hx-trigger="click"
                    hx-target="closest tr"
                    hx-swap="outerHTML" class="btn btn-primary">Delete
                    </button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>