<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <style>
        body{
            padding: 20px;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #383737;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <link rel="icon" href="{{url_for('static', path='/favicon.ico')}}">
</head>

<body>
<h3 style="margin-bottom: 25px;"> Edit details for book with id {{id}} </h3>
{% for error in errors %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
  {{error}}
</div>
{% endfor %}
<form>
<body>
    <input type="text" placeholder="Book Title" name="title" class="form-control mb-3" />
    <input type="text" placeholder="Book Author" name="author" class="form-control mb-3" />
    <input type="text" placeholder="Year published" name="year_published" class="form-control mb-3" />
<button  class="btn btn-primary" hx-put = "/update/{{id}}" hx-target="body"> Update </button>
</form>
</body>   
</body>