<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <style>
        body{
            padding: 20px;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #383737;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <link rel="icon" href="{{url_for('static', path='/favicon.ico')}}">
</head>

<body>
    <button class="btn btn-primary fixed-bottom" hx-get="/signout" hx-target="body" hx-swap="innerHTML">Logout</button>
    <h1 class = "text-center " >Book Management System</h1>
    <h3 class = "text-left mb-2" >Input details of book you want to add below</h3>
    <h6>Note that id must be unique</h6>
    {%if msg%}
<div class="alert alert-success d-flex align-items-center" role="alert">
  {{msg}}
</div>
{%endif%}
{% for error in errors %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
  {{error}}
</div>
{% endfor %}
    <form action="/submit" method="post" class="mb-3">
        <input type="text" placeholder="Book ID" name="id" class="form-control mb-3" />
        <input type="text" placeholder="Book Title" name="title" class="form-control mb-3" />
        <input type="text" placeholder="Book Author" name="author" class="form-control mb-3" />
        <input type="text" placeholder="Year published" name="year_published" class="form-control mb-3" />
        <button class="btn btn-primary" >Submit</button>
    </form>
     
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Book Title</th>
            <th scope="col">Book Author</th>
            <th scope="col">Year Published</th>
          </tr>
        </thead>
        <tbody > 
            
            {%for book in book_db %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.year_published}}</td>
                <td>
                    <button
                    hx-get = "/edit_details/{{book.id}}"
                    hx-target="body" hx-swap="outerHTML"
                      class="btn btn-primary">
                        Edit Details
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary"  hx-delete = "/delete/{{book.id}}"
                    hx-target="closest tr" hx-swap="outerHTML" hx-trigger = "click"> Delete </button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>